.cell {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: auto;
  text-align: center;
}

.cell:hover {
  cursor: pointer;
}

.cell span {
  display: inline-block;
  opacity: 0.01;
  width: 100%;
  height: 100%;
}

.cell.default::after,
.cell.default::before,
.cell.right::after,
.cell.right::before,
.cell.bottom::after,
.cell.bottom::before,
.cell.left::after,
.cell.left::before,
.cell.top::after,
.cell.top::before,
.cell.bottom-left::after,
.cell.bottom-right::after,
.cell.top-left::after,
.cell.top-right::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.cell.right::after,
.cell.bottom::after,
.cell.left::after,
.cell.top::after,
.cell.bottom-left::after,
.cell.bottom-right::after,
.cell.top-left::after,
.cell.top-right::after {
  background-color: #F8B800;
}

.cell.default::before {
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 0;
  border-left: 2px solid #000;
}

.cell.default::after {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-top: 2px solid #000;
}

.cell.left::before {
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 0;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.cell.left::after {
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  border-left: 2px solid #000;
}

.cell.top::before {
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 0;
  border-left: 2px solid #000;
}

.cell.top::after {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #000;
}

.cell.top-left::after {
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.cell.top-right::after {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

.cell.right::before {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 0;
  border-top: 2px solid #000;
}

.cell.right::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  border-right: 2px solid #000;
}

.cell.bottom::before {
  top: 0;
  bottom: 50%;
  left: 50%;
  right: 0;
  z-index: 0;
  border-left: 2px solid #000;
}

.cell.bottom::after {
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  border-bottom: 2px solid #000;
}

.cell.bottom-left::after {
  top: 0;
  bottom: 50%;
  left: 50%;
  right: 0;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.cell.bottom-right::after {
  top: 0;
  bottom: 50%;
  left: 0;
  right: 50%;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.cell.default {
  background-color: #F8B800;
}

.stone {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  z-index: 2;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.stone.white {
  background-color: #fff;
}

.stone.black {
  background-color: #000;
}

.dot {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
}
